<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateMember</servlet-name>
        <servlet-class>com.tta.controller.CreateMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMember</servlet-name>
        <servlet-class>com.tta.controller.DeleteMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBook</servlet-name>
        <servlet-class>com.tta.controller.NewBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>com.tta.controller.DeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueBook</servlet-name>
        <servlet-class>com.tta.controller.IssueBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.tta.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.tta.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBook</servlet-name>
        <servlet-class>com.tta.controller.ReturnBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewLibrarian</servlet-name>
        <servlet-class>com.tta.controller.NewLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLibrarian</servlet-name>
        <servlet-class>com.tta.controller.UpdateLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLibrarian</servlet-name>
        <servlet-class>com.tta.controller.DeleteLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>com.tta.controller.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateMember</servlet-name>
        <url-pattern>/CreateMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMember</servlet-name>
        <url-pattern>/DeleteMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBook</servlet-name>
        <url-pattern>/NewBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueBook</servlet-name>
        <url-pattern>/IssueBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBook</servlet-name>
        <url-pattern>/ReturnBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewLibrarian</servlet-name>
        <url-pattern>/LibrarianUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLibrarian</servlet-name>
        <url-pattern>/UpdateLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLibrarian</servlet-name>
        <url-pattern>/DeleteLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
